.container-auth {
  margin: 0 auto;
  width: 20rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-auth .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.container-auth .header span {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.container-auth .header .logoImg {
  width: 16.25rem;
  margin-bottom: 2rem;
}

.container-auth form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-auth form  .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container-auth form  .inputContainer label {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.container-auth form  .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem 1.2rem;
  width: 20rem;
  background-color: rgb(17, 21, 29);
  border: 0.063rem solid rgb(92, 115, 219);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.inputContainer input::placeholder {
  color: rgba(246, 248, 251, 0.75);
}

.container-auth form a {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(92, 115, 219);
}

.container-auth form .button {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.063rem solid rgb(100, 108, 255);
  padding: 1em;
  margin-top: 0;
  margin: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgb(100, 108, 255);
  transition: all 0.25s ease;
  text-transform: uppercase;
}

.container-auth form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container-auth form .button img {
  width: 1rem;
}

.container-auth form .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.container-auth form .footer p {
  font-weight: 400;
  font-size: 0.75rem;
  color: rgba(246, 248, 251, 0.87);
}

.container-auth form .footer a {
  font-weight: 400;
  font-size: 0.75rem;
  text-decoration-line: underline;
  color: rgb(92, 115, 219);
}

.auth-error {
  font-weight: 400;
  font-size: 0.75rem;
  color: rgb(255, 75, 75);
}

.input-error {
  border: 0.063rem solid rgb(255, 75, 75);
}