a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

h6 {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(159, 156, 169);
}

p {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}

.card {
  max-width: 365px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 31, 41);
  border: rgba(255, 255, 255, 0.1) 0.05rem solid;
  border-radius: 1rem;
  box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.2s linear;
}

.card:hover {
  transform: translate(0%, -4px);
  border: rgb(100, 108, 255) 0.05rem solid;
  box-shadow: 0px 10px 15px -3px rgba(100, 108, 255, 0.604);
}

.game-rate {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.favorite {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(26, 31, 41, 0.8);
  backdrop-filter: blur(0.3rem);
  border: rgba(255, 255, 255, 0.08) 0.05rem solid;
  box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.1);
}

.favorite img {
  width: 0.82681rem;
  height: 0.75rem;
}

.favorite span {
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
}

.favorite-hover {
  border-color: rgb(17, 21, 29);
  background-color: rgb(17, 21, 29);
  cursor: pointer;
  transition: all 0.5s ease;
}

.favorite:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.rate {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(26, 31, 41, 0.8);
  backdrop-filter: blur(0.3rem);
  border: rgba(255, 255, 255, 0.08) 0.05rem solid;
  box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.1);
}

.rate img {
  width: 0.82681rem;
  height: 0.75rem;
}

.rate:hover {
  border-color: rgb(17, 21, 29);
  background-color: rgb(17, 21, 29);
  cursor: pointer;
}

.rate:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.game-info {
  width: 90%;
  padding: 0.6rem 1.2rem;
  height: 100%;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.tag {
  color: rgba(234, 237, 243, 0.7);
  font-size: 0.6rem;
  font-weight: 300;
  margin-bottom: 0;
}

.tag-platform {
  text-align: center;
  padding: 0.3rem 0.7rem;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgba(7, 105, 190, 0.5);
  backdrop-filter: blur(10px);
  border: rgba(255, 255, 255, 0.08) 0.05rem solid;
  border-radius: 1rem;
  box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.1);
  font-size: 0.6rem;
  font-weight: 300;
}

.tag-genre {
  text-align: center;
  padding: 0.3rem 0.7rem;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgba(154, 10, 96, 0.5);
  backdrop-filter: blur(10px);
  border: rgba(255, 255, 255, 0.08) 0.05rem solid;
  border-radius: 1rem;
  box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.1);
  font-size: 0.6rem;
  font-weight: 300;
}

.card-button {
  width: 90%;
  border-radius: 0.6rem;
  border: rgb(100, 108, 255) 1px solid;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgb(26, 31, 41);
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
}

.card-button:hover {
  border-color: rgb(17, 21, 29);
  background-color: rgb(17, 21, 29);
}

.card-button:focus,
.card-button:focus-visible {
  outline: 2px auto rgb(100, 108, 255);
}

@keyframes favoriteClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.favorite-click-animation {
  animation: favoriteClickAnimation 0.3s;
}
