.container-list {
  margin: 0 auto;
  padding: 3rem 2rem;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.search-filter {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-bar input {
  width: 320px;
  padding: 0.6rem;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgb(26, 31, 43);
  border: rgba(138, 148, 168, 0.65) 1px solid;
  border-radius: 8px;
  outline-color: rgb(100, 108, 255);
}

.search-bar input::placeholder {
  color: rgba(138, 148, 168, 1);
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.show-favorites-btn {
  border-radius: 0.5rem;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: inherit;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(100, 108, 255);
  transition: all 0.25s ease;
  text-transform: uppercase;
}

.show-favorites-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .container-list {
    grid-template-columns: 1fr;
  }
}