.navbar {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(26, 31, 43);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-mobile {
  display: none;
  align-items: center;
}

.logo img,
.logo-mobile img {
  height: 40px;
}

.search-bar>input {
  width: 240px;
  padding: 0.7rem;
  color: rgba(246, 248, 251, 0.87);
  background-color: rgb(26, 31, 43);
  border: rgba(138, 148, 168, 0.65) 1px solid;
  border-radius: 8px;
  outline-color: rgb(100, 108, 255);
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

@media (max-width: 767px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    align-items: center;
  }

  .search-bar>input {
    width: 180px;
  }
}