.navbar {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(26, 31, 43);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-mobile {
  display: none;
  align-items: center;
}

.logo img,
.logo-mobile img {
  height: 40px;
}

.login-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.user-info img {
  height: 2.2rem;
}

.secondary-navbar-button {
  border-radius: 0.6rem;
  border: rgb(100, 108, 255) 1px solid;
  padding: 0.6rem 1.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: inherit;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(26, 31, 41);
  transition: border-color 0.25s;
  text-transform: uppercase;
}

.secondary-navbar-button:hover {
  border-color: rgb(17, 21, 29);
  background-color: rgb(17, 21, 29);
  cursor: pointer;
}

.primary-navbar-button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: inherit;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(100, 108, 255);
  transition: all 0.25s ease;
  text-transform: uppercase;
}

.primary-navbar-button:hover {
  border-color: rgb(17, 21, 29);
  background-color: rgb(17, 21, 29);
  cursor: pointer;
}

@media (max-width: 767px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    align-items: center;
  }
}