.navbar {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(26, 31, 43);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-mobile {
  display: none;
  align-items: center;
}

.logo img,
.logo-mobile img {
  height: 40px;
}

@media (max-width: 767px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    align-items: center;
  }
}