:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: auto;
}

.gamelist {
  display: flex;
  justify-content: center;
}

.message-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 2rem;
}